.header {
  background-color: rgba(170, 170, 170, 0.185);
  height: 50px;
  box-shadow: 0 0 1px rgb(82, 78, 78);
}

.header img {
  width: 20px;
}

.loginBlock {
  float: right;
}
.loginBlock {
  color: white;
}
