.wrapper {
  height: 100%;
}
.app_wrapper {
  margin: 1% auto;
  display: grid;
  grid-template-areas: "n c";
  width: 1200px;
  grid-template-rows: 100%;
  grid-template-columns: 26fr 100fr;
  gap: 2px;
  height: 100%;
}
.wrapper__header {
}

.app_wrapper_content {
  grid-area: c;
  border-radius: 7px;
  color: white;
}

/* rgba(170, 170, 170, 0.185); */
